{% extends 'base.html' %}

{% block content %}
  {{ material.text|safe }}
  {{ question.text|safe }}
  {% if first %}
<a
        class="btn btn-rg btn-primary"
        href="{% url 'learning_materials:tasks_detail' material.pk 1 %}" role="button"
      >
        Перейти к заданиям
      </a>
  {% elif second %}
  <a
        class="btn btn-rg btn-primary"
        href="{% url 'learning_materials:tasks_detail' material.pk 6 %}" role="button"
      >
        Перейти к заданиям
  {% endif %}
{% endblock %}